/* 
///////////////////////////////////////////////////
////////////////////BASE//////////////////////////
/////////////////////////////////////////////////
*/

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 3;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}


h1 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: "quasimoda", "myriad-pro", sans-serif; 
    text-transform: uppercase;
    font-weight: 700;
}


h2 {
    font-family: "quasimoda", "myriad-pro", sans-serif; 
    text-transform: uppercase;
    font-size: 2rem;
    color: #2561bb;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 25px;

}

h3 {
    font-family: "quasimoda", "myriad-pro", sans-serif; 
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 3px;
    color: white;
    font-size: 0.8rem;
}

a {
    font-family: "quasimoda", "myriad-pro", sans-serif; 

}

p {
    font-family: "quasimoda", "myriad-pro", sans-serif; 
    font-weight: 300;
}


.gallery_img {
    width: 100%;
    height: 100%;
}

footer {
    background: #2561bb;
}

small {
    background: #1d4a8f;
    display: block;
    text-align: center;
}

/* 
///////////////////////////////////////////////////
////////////////////HELPER////////////////////////
/////////////////////////////////////////////////
*/

.wrapper-margin {
    margin: 0 3%;
}

.list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 
///////////////////////////////////////////////////
///////////////HEADER STYLING/////////////////////
/////////////////////////////////////////////////
*/


.burger-menu {
    background: none;
    border: none;
    margin: 0;
    padding: 10px 10px 10px 0;
    position: absolute;
    z-index: 4;

}



.burger-icon {
    fill: #f9f9f9;
}

.burger-close {
    fill: #f9f9f9;
}

.burger-menu-close {
    height: 30px;
    width: 30px;
    display: none;
}

.burger-container {
    height: 30px;
    width: 30px;
}

.container-navigation {
    position: fixed;
    z-index: 4;
    margin-left: 3%;
    margin-top: 7%;
}

.navigation__list { /*REMOVE*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-size: 2rem;
    text-align: center;
}

.navigation__list li { 
    margin: 15% 0;

}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    padding: 10% 0;
    line-height: 0.2;
}



/* 
///////////////////////////////////////////////////
///////////////MAIN STYLING///////////////////////
/////////////////////////////////////////////////
*/


.container-absolute{
    position: relative;
}

.hero-img {
    max-width: 100%;
    display: block;
}

.container-hero {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

.container-hero__main {
    line-height: 0.9;
}

.container-hero__main--larger {
    font-size: calc(25px + (55 - 25) * ((100vw - 300px) / (768 - 300)));
    font-family: "myriad-pro";
}


.container-hero__main--smaller {
    font-size: calc(19px + (45 - 19) * ((100vw - 300px) / (768 - 300)));

}

.container-hero__main--blue {
    color: #2561bb;
}

.container-hero__text {
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    margin-top: 5px;
    font-weight: 600;
    font-size: calc(8px + (20 - 8) * ((100vw - 300px) / (768 - 300)));
}


.logo {
    position: absolute;
    max-width: 150px;
    bottom: 10%;
    width: 25%;
}

.gallery > li { 
    display: flex;
}



.menu-download {
    text-decoration: none;
    background: #2561bb;
    border: solid #2561bb 1rem;
    display: inline-block;
    color: #fff;
    margin-bottom: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu-download:hover {
    background: #1d4a8f;
    border: solid #1d4a8f 1rem;
}

.menu-download--smaller {
    font-size: .75rem;
}

.container-covid__text {
    margin-bottom: 30px;
}


/* Impressum */

.container-impressum {
    background: none;
    padding: 0;
    margin: 3%;
} 

.impressum-height_html {
    height: 100%;
}

.impressum-height_body {
    height: 100%;
    display: flex;
    flex-direction: column;

}

.fill-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.impressum_heading {
    color: #2561bb;
    margin-top: 5%;
    text-transform: initial;
}


.impressum_text {
    margin: 0;
}

.container-impressum-main {
    margin-top: 30px;
    margin-bottom: 30px;
}




/* 
///////////////////////////////////////////////////
///////////////FOOTER STYLING/////////////////////
/////////////////////////////////////////////////
*/

.container-footer-main {
    display: flex;
}

.footer-time {
    flex-basis: 60%;
}

.footer-adress{
    flex-basis: 40%;
}

.map{
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
}

.footer-adress__text, .footer-time__text {
    color: #fff;
    margin: 0;
    font-size: 0.9rem;
}

.footer-adress__text {
    margin-bottom: 20px;
}

.footer-link {
    color: #fff;
    font-size: .9rem;
    font-weight: 400;
}

.impressum-link {
    color: #fff;
}

@media (min-width: 768px) {

    /* 
    ///////////////////////////////////////////////////
    ///////////////HEADER STYLING/////////////////////
    /////////////////////////////////////////////////
    */

    .logo {
        max-width: 200px;
    }

    .burger-container, .burger-menu-close {
    height: 45px;
    width: 45px;
    }


    /* 
    ///////////////////////////////////////////////////
    /////////////////MAIN STYLING/////////////////////
    /////////////////////////////////////////////////
    */


    .container-main-section {
        text-align: center;
    }

    .takeaway-text, .container-covid__text {
        text-align: center;
    } 

    .container-flex {
        display: flex;
    }

    .container-flex__basis-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-basis: 50%;
    }

    .flex-basis-img {
        flex-basis: 50%;
    }

    .container-flex__order {
        order: 2;
    }

    .wrapper-margin-tablet {
        margin: 0;
        padding: 0 3%;
    }



    /* 
    ///////////////////////////////////////////////////
    /////////////////FOOTER STYLING///////////////////
    /////////////////////////////////////////////////
    */

    .container-flex-tablet {
        display: flex;
        justify-content: space-between;
    }

    .map-flex {
        order: 2;
        flex-basis: 50%;
    }

    .map {
        height: 250px;
    }

    .container-footer-main {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }

    .footer-time, .footer-adress {
        margin-right: 20px;
        margin-left: 20px;
    }

    .footer-time{
        margin-top: 10px;
    }
}

@media (min-width: 1200px) {
    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1rem;
    }



    .burger-menu {
        display: none;
    }

    .navigation__list {
        display: flex;
    }

    .navigation__list > li {
        margin-right: 70px;
    }

    .navigation__list a {
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.2rem;
        padding: 20px;
        opacity: 0.7;
    }

    .navigation__list a:hover {
        opacity: 1;
    }

    .logo {
        max-width: 250px;
    }

    .container-navigation {
        position: absolute;
        margin: 3%;
    }

    .container-hero__main {
        line-height: 0.7;
    }

    .container-hero__main--larger {
        font-size: calc(25px + (45 - 25) * ((100vw - 300px) / (768 - 300)));
    }

    .container-hero__main--smaller {
        font-size: calc(19px + (30 - 19) * ((100vw - 300px) / (768 - 300)));
    }
    .container-hero__text {
        font-size: calc(8px + (15 - 8) * ((100vw - 300px) / (768 - 300)));
    }

    
    /* Impressum */

    .container-impressum {
        background: #000;
        padding: 3%
    }
    
    .container-impressum__burger-margin {
        margin: 0 3%;
    }


}


@media (min-width: 1920px) {

    body {
        max-width: 1920px;
        margin: 0 auto;
        box-shadow: -2px 0px 0px 0px #1d4a8f, 2px 0px 0px 0px #1d4a8f;

    }
}